# Папки виртуальных окружений
venv/
env/
*.env

# Папки с кэшами и временными файлами
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Базы данных
db.sqlite3
*.db

# Миграции
migrations/

# Приложение для сохранения настроек
*.pot

# Файлы Python, связанные с тестами
*.coverage
.coverage.*

# Папки для сборки
build/
dist/
*.egg-info/

# Конфигурационные файлы IDE
.idea/
.vscode/

# Контейнеры Docker
docker-compose.override.yml
*.env

# Ключи API и секретные данные
*.pem
*.key

# файлы, содержащие настройки окружений
*.env

# Прочие файлы, которые не нужны в репозитории
*.bak
*.swp
